/* FOOTER STYLES */

footer {
    background-color: #42389d;
    color: white;
    padding: 40px 0;
    text-align: left;
  }
  
  footer .p-4 {
    padding: 2rem !important;
  }
  
  footer .row {
    margin: 0;
  }
  
  footer .col-lg-3,
  footer .col-md-6 {
    margin-bottom: 1.5rem;
  }
  
  footer .rounded-circle {
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem;
  }
  
  footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 0.5rem;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  footer .text-center {
    text-align: center !important;
  }
  
  footer .p-3 {
    padding: 1rem !important;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  footer .footer-text {
    display: block;
    margin-top: 1rem;
    color: rgba(153, 153, 153, 0.865);
  }
  
  footer .delete-user-btn {
    background: none;
    border: none;
    color: rgb(169, 169, 169);
    margin-top: 1rem;
  }
  
  footer .delete-user-btn:hover {
    color: #ee3535;
    transition: color 0.3s;
  }